.catalogue__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.catalogue__product {
    display: block;
    background-color: var(--color-dark-alt);
    border: 1px solid transparent;
    padding: 0rem;
    position: relative;
    text-align: center;
}
.catalogue__product:hover {
    color: var(--color-light);
    transition: var(--transition);
    background-color: var(--color-dark);
    border-color: var(--color-dark-alt);
}

.catalogue__product > a {
    background-color: var(--color-dark-alt);

}

.catalogue__product-image {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.catalogue__product-image > img {
    width: 100%;
}

/* ======== MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 670px) {
    .catalogue__products {
        grid-template-columns: 1fr 1fr;
    }
}