#header {
    height: 100vh;
    overflow: hidden;
}

.header-background {
    background: hsla(40, 18%, 52%, 0.6);
    width: 100%;
    height: 100vh;
}

.header-scroll_down {
    color: black;
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.header-title {
    padding-top: 10rem;
    font-weight: 900;
    font-size: 3rem;
    color: black;
}

/* ======== MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 670px) {
    .header-scroll_down {
        bottom: 7rem;
    }
}

