.product__title {
    text-align: center;
}

.product__image {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.product__image > img {
    width: 100%;
}

.product-props__container {
    text-align: center;
}

.select__container {
    text-align: left;
    width: 100%;
    color: black;
}

.selector__size-options {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.selector__size-option {
    width: 50px;
    height: 70px;
    text-align: center;
    border-radius: 0.5rem;
    background: var(--color-highlight);
    padding: 0.5rem;
}

.price-buy {
    border: 1px solid var(--color-highlight);
    padding: 1rem;
}

.product__buy-link {
    display: block;
    background: var(--color-highlight);
}

.productSection {
    padding-top: 2rem;
}

.productSection__title {
    margin-bottom: 0.5rem;
}