.product__title {
    text-align: center;
}

.product__image {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.product__image > img {
    width: 100%;
}

.product-props__container {
    text-align: center;
}

.select__container {
    width: 100%;
    color: black;
}

.price-buy {
    border: 1px solid var(--color-highlight);
    padding: 1rem;
}

.product__buy-link {
    display: block;
    background: var(--color-highlight);
}